@font-face {
    font-family: myCoffeeFont;
    src: url('../Fonts/Coffee.ttf') format("truetype");
}


/* {
    box-sizing: border-box;
}*/

html, body {
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: myCoffeeFont, sans-serif;
    background-image: url(https://i.pinimg.com/originals/a7/f2/22/a7f222dc0c5ec8a56bbe82cf846185cf.jpg);
    background-size: 100%;
}

nav {
    width: 100%;
    height: 60px;
    background-color: darkslategrey;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.nav-inner {
    width: 100%;
    max-width: 100px;

    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.nav-align-right {
    flex-grow: 1;
    text-align: right;
    margin-right: -30px;
}


a {
    text-decoration: none;
}

nav a {
    color: #dddddd;
    margin-right: 20px;
}
nav a:hover {
    color: white;
}

.nav-link {
    font-size: 24px;
    position: absolute;
    margin-left: 500px;
}

.brand {
    font-size: 36px;
    position: absolute;
    left: 20px;
    margin-top: -10px;
}


.limited-width-container {
    width: 100%;
    max-width: 800px;
}

h1 {
    font-size: 24px;
}

.button {
    background-color: darkslategrey;
    padding: 8px 16px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
    float: left;
}
.button:hover {
    background-color: darkslateblue;
}
.jumbotron {
    width: 40%;
    background-color: #e9ecef;
    border-radius: 30px;
    padding: 50px 30px;
    position: absolute;
    left: 20px;
    top: 100px;
    margin-left: 50px;
    min-width: 392px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.jumbotron1 {
    width: 40%;
    background-color: #e9ecef;
    border-radius: 30px;
    padding: 50px 30px;
    position: absolute;
    right: 20px;
    top: 100px;
    margin-left: 50px;
    min-width: 392px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.reallyresponsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media screen and (max-width: 700px) {
    .reallyresponsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media screen and (max-width: 500px) {
    .reallyresponsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    height: 200px;
    width: 400px;
}

div.desc {
    padding: 15px;
    text-align: center;
}